#dashboardHeader{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: antiquewhite;
    margin-bottom: 10px;
}

#centerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#centerLinks {
    gap: 10px;
    display: flex;
}
.linkTag{
    text-decoration: none;
}

